.message{data: {message: {id: message.id}}}
  .message__info
    .user-name
      = message.user.name
    .send-time
      = message.created_at.to_s
    - if message.content.present?
      .message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?